<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Резюме &#128169;</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <nav id="menu">
                <ul>
                <li> <a href="about.html">О нас</a> </li>
                <li> <a href="contact.html">Контакты</a> </li>
                <li> <a href="users/index">Пользователи</a> </li>
                <li> <a href="users/new">Регистрация</a> </li>
                </ul>
            </nav>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% if current_user %}
                <p>Привет, {{ current_user.user_name }}!</p>
                <form action="{{ url_for('logout') }}" method="post">
                    <input type="submit" value="Выйти">
            {% else %}
                <p>Привет, гость!</p>
                <a href="{{ url_for('login') }}">Войти</a>
            {% endif %}
        </header>

        <main>
            <h1 style="text-align: center;">Добро пожаловаь на мой сайт! Здесь вы найдете мое резюме.</h1>
            <p>Мое резюме доступно по ссылке ниже: <a href="resume.html">Ссылка на резюме</a></p>
            <p>Я, как разработчик, стремлюсь создавать качественные и эффективные решения для своих клиентов. Мое резюме отражает мой опыт и навыки в области разработки программного обеспечения.</p>
            <p>Если у вас есть какие-либо вопросы или предложения, пожалуйста, не стесняйтесь связаться со мной через страницу контактов.</p>
        <selection>
            <h2>Мои навыки:</h2>
            <ul>
            <li>Программирование на Python</li>
            <li>Работа с базами данных SQL</li>
            </ul>
        </selection>
        <section class="news">
            <h2>Новости</h2>

            <article>
                <h2>Новость 1</h2>
                <p>Текст новости</p>
            </article>

            <article>
                <h2>Новость 2</h2>
                <p>Текст новости</p>
            </article>
            </section>

            <section class="stories">
            <h2>Интересные истории</h2>

            <article>
                <h2>История 1</h2>
                <p>Текст истории</p>
            </article>

            <article>
                <h2>История 2</h2>
                <p>Текст истории</p>
            </article>
        </section>
        </main>
    </body>    
